* {
  margin: 0;
  padding: 0;
  font-family: monospace, sans-serif;
}
.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 7px,
    rgba(0, 0, 0, 0.8) 9px,
    rgba(0, 0, 0, 0.8) 13px,
    transparent 13px
  );
}
.container {
  max-width: 400px;
  color: white;
}
.container > h1 {
  font-family: 'Neonderthaw', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  color: orange;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00,
    0 0 98px #ff0000;
  color: #fff6a9;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}
#input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px 0;
}
label {
  margin-bottom: 20px;
}
#text-input {
  height: 25px;
  width: 200px;
  text-align: center;
  margin: 10px;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
}
#check-btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 2px 2px 2px #474643;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #ffffff;
  font-size: 20px;
  background: #ffa500;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
#check-btn:hover {
  background: #ffa500;
  background-image: -webkit-linear-gradient(top, #ffa500, #ff0000);
  background-image: -moz-linear-gradient(top, #ffa500, #ff0000);
  background-image: -ms-linear-gradient(top, #ffa500, #ff0000);
  background-image: -o-linear-gradient(top, #ffa500, #ff0000);
  background-image: linear-gradient(to bottom, #ffa500, #ff0000);
  text-decoration: none;
}
#result {
  margin: 20px;
  padding: 5px;
}
.bounce {
  margin-top: 60px;
  -webkit-animation: bounce 0.75s infinite;
}
.collapsible {
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100px;
  border: none;
  outline: none;
  font-size: 15px;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2212';
}
.info {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  box-shadow: 0 0 0.2rem #0fff50, 0 0 0.2rem #0fff50, 0 0 2rem #0fff50, 0 0 0.8rem #0fff50, 0 0 2.8rem #0fff50,
    inset 0 0 1.3rem #0fff50;
}
.p-7 {
  padding: 7px;
}
@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000,
      0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000,
      0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  30% {
    transform: scale(1, 0.8) translate(0px, 10px);
  }

  75% {
    transform: scale(1, 1.1) translate(0px, -25px);
  }

  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}
